{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
